<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompareNETObjects" version="3.02.0.0" targetFramework="net451" requireReinstallation="True" />
  <package id="FakeItEasy" version="1.25.2" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="NUnit.Asserts.Compare" version="0.2.1" targetFramework="net451" />
  <package id="System.Configuration.Abstractions" version="2.0.2.17" targetFramework="net451" />
</packages>